<html>
<head>
<meta charset="utf-8"> <title>addResult</title>
<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<h3>Resultats du calcul</h3>
a=<%= a %> <br />
b=<%= b %> <br />
<p>a*b=<i> <%= resMult %> </i></p>
<%- include('./partials/footer'); %> <!-- ../partials/footer.ejs -->
</body>
</html>